{% extends 'main/index.html' %}
{% block content %}
  <h1>Регистрация</h1><br>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Зарегестрироваться</button>
  </form>
      <div class="col-md-0 text-middle">
          <a href="{% url 'home' %}" class="d-inline-block  px-2 py-1 mr-3 mr-sm-5">На главную</a>
      </div>
{% endblock %}









<!--<a href="/signup?ref_cta=Sign+up&amp;ref_loc=header+logged+out&amp;ref_page=%2F%3Cuser-name%3E&amp;source=header" class="d-inline-block d-lg-none f5 color-text-white no-underline border color-border-tertiary rounded-2 px-2 py-1 mr-3 mr-sm-5" data-hydro-click="{&quot;event_type&quot;:&quot;authentication.click&quot;,&quot;payload&quot;:{&quot;location_in_page&quot;:&quot;site header&quot;,&quot;repository_id&quot;:null,&quot;auth_type&quot;:&quot;SIGN_UP&quot;,&quot;originating_url&quot;:&quot;https://github.com/VLAS-OVERONE&quot;,&quot;user_id&quot;:null}}" data-hydro-click-hmac="dedd1f6b3afdf452390bbbd371b0d17af34aa20dc94cf9daf1f55e62b0536f72">-->
<!--                Sign&nbsp;up-->
<!--              </a>-->